/* Universal Styling */
* {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-weight: 200;
  padding: 5px;
  margin: 5px;
}

:root {
  --color1: #c09bb5;
  --color2: #d7e2da;
  --color3: #97c9be;
  --color4: #bf9cb5cb;
  --color5: #9c5888;
  --color6: #fbfffe;
  --color7: #151817;
  --color8: #bdccc7;
}

/* header styling */
header {
  background-image: url(../img/laptop-typing-wide.jpg);
  object-fit: fill;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 1rem;
  color: var(--color2);
  font-size: 2rem;
  /* width: 96vw; */
}

/* main page title styling */
h1 {
  display: inline-block;
  border-bottom: 2rem;
  color: var(--color2);
}

/* icon styling */
#perfourmerPic {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
}

/* nav bar link placement */
nav ul {
  list-style: none;
  display: flex;
  padding: 5px;
  border: 5px;
  margin: 5px;
  justify-content: flex-end;
  font-size: 1rem;
  color: var(--color2);
}

/* spacing betweeen nav bar links */
li {
  padding: 10px;
}

/* top nav bar link styling */
a:link {
  text-decoration: none;
  color: rgb(201, 221, 221);
}

/* prevents links from changing color after clicked */
a:visited {
  color: var(--color2);
}

/* about me styling and position */
#aboutMe {
  color: var(--color7);
  justify-content: center;
  text-align: center;
  position: relative;
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-wrap: wrap;
  display: flex;
  margin: 0px;
  border: 0px;
}

/* centers project boxes on page & puts into quadrant formation */
main {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

/* sub projects placement */
#subProjects {
  display: flex;
  justify-content: space-between;
  margin: 1vw 1vw;
}
/* section boxes main styling */
section {
  flex-wrap: wrap;
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: var(--color2);
  background-color: var(--color3);
  border-radius: 10px;
  padding: 100px;
  height: 20%;
  width: 20%;
}

/* section boxes title styling */
section h2 {
  position: absolute;
  font-size: 1rem;
  align-items: center;
  padding: 5px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1.5rem;
  width: 50%;
  text-align: center;
}

/* specify background color sizing */
section h2 a {
  background-color: var(--color4);
  border-radius: 10px;
}

/* fills section boxes with photos */
#memeGenerator {
  background-image: url(../img/Project\ 1\ Screenshot.png);
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100px;
  margin: 0 2 vw;
}

#passwordGenerator {
  background-image: url(../img/password-generator-screenshot.png);
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* width: 200px;
  margin: 10px; */
  flex: 1 1 200px;
}

#codeQuiz {
  background-image: url(../img/quiz-screenshot.png);
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* width: 200px;
  margin: 10px; */
  flex: 1 1 200px;
}

#simpleSite {
  background-image: url(../img/person-typing-two-computers.jpg);
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* width: 200px;
  margin: 10px; */
  flex: 1 1 200px;
}

/* changes main project section box color and size when hovered over */
#refactorProject:hover {
  transform: scale(1.01);
  transition: all 0.05s ease-in-out;
  box-shadow: inset 30px 0 60px rgb(185, 171, 185),
    inset -30px 0 600px rgb(201, 221, 221);
}

/* changes project section boxes color and size when hovered over */
section:hover {
  transform: scale(1.02);
  transition: all 0.05s ease-in-out;
  box-shadow: inset 30px 0 60px rgb(185, 171, 185),
    inset -30px 0 600px rgb(201, 221, 221);
}

/* changes color of links when hovered over */
a:hover {
  color: rgb(185, 171, 185);
}

/* contact info page layout */
.contact {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

/* footer formatting */
footer {
  color: var(--color7);
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

/* adjusts size of web page according to what device is being used */
@media screen and (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  div#subProjects {
    flex-direction: column;
    align-items: center;
  }
}
